<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    input{
      height: 100px;
      width: 500px;
      border-radius: 30px;
      font-size: 20px;
      font-weight: bold;
      margin: 0 auto;
    }
  </style>
  <h1>유튜브 영상 다운받기</h1>
  <form action="/download" method="post">
    <input type="text" placeholder="유튜브 영상 URL" name="url" required>
  </form>
  </body>
</html>